{% extends 'main/base.html' %}
{%  load i18n  %}
{% load bootstrap3 %}

{% block title %}{% trans 'Request Document' %}{% endblock %}

{% block body %}

<form id="post_form" method="post" action="" enctype="multipart/form-data">

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form %}
        {{ field }} <br />
    {% endfor %}

    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}


    <input type="submit" name="submit" value="Submit" />
</form>

{% endblock %}