{% extends 'main/base.html' %}
{% load i18n %}
{% block title %} {% trans "Battery Issue List" %} {{ block.super }} {% endblock %}

{% block body %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'issue/css/style.css' %}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css"/>

    <div class="container-fluid">
        <div class='container custom'>
            <div class="card custom-bg">
                <h5>
                    <div class="card-header text-center text-light custom-header-bg">
                        {% trans 'Battery Issue List' %}
                    </div>
                </h5>
                {% language 'en' %}
                    <table id="documents_table" class="table  table-hover table-responsive-sm">
                        <thead class="custom-header-bg text-light">
                        <tr>
                            <th>Number</th>
                            <th>Serial Number</th>
                            <td>Model</td>
                            <th>Service</th>
                            <th>Fill Date</th>
                            <th>Purchase Date</th>
                            <th>Battery Model</th>
                            <th>Battery Batch</th>
                            <th>Battery Production Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for issue in object_list %}
                            <tr>
                                <td><a href="{{ issue.get_absolute_url }}" target="_blank">{{ issue.pk }}</a></td>
                                <td>{{ issue.device_serial_number }}</td>
                                <td>{{ issue.get_model }}</td>
                                <td>{{ issue.user.service_center }}</td>
                                <td>{{ issue.filling_date }}</td>
                                <td>{{ issue.purchase_date }}</td>
                                <td>{{ issue.battery_model }}</td>
                                <td>{{ issue.battery_batch }}</td>
                                <td>{{ issue.battery_production_date }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endlanguage %}
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{% static "issue/js/issue_table.js" %}"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

{% endblock %}
