{% extends 'main/base.html' %}
{% load i18n %}
{% block title %} {% trans "Refurbishment Devices List" %} {{ block.super }} {% endblock %}

{% block body %}
    {% load staticfiles %}
    {#    !!!!#}
    <link rel="stylesheet" type="text/css" href="{% static 'refurbishment/css/style.css' %}"/>
    {#    !!!!#}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css"/>


    <div class="container-fluid">
    <div class='container custom'>
        <div class="card custom-bg">
            <div class="card-body">
                <div class="form-group row">
                    <a class="btn   pull-left" href="{% url 'refurbishment_device_create_url' %}">
                        <i class="fas fa-file-signature"></i> {% trans 'Add Refurbishment Device' %}</a>
                </div>
                <h5>
                    <div class="card-header text-center text-light custom-header-bg">
                        {% trans 'Refurbishment Devices List' %}
                    </div>
                </h5>
                <table id="refurbishment_device_table" class="table  table-hover table-responsive-sm">
                    <thead class="custom-header-bg text-light">
                    <tr>
                        <th>{% trans 'New Serial Number' %}</th>
                        <th>{% trans 'Old Serial Number' %}</th>
                        <th>{% trans 'Device' %}</th>
                        <th>{% trans 'Condition' %}</th>
                        <th>{% trans 'Refurbishment' %}</th>
                        <th>{% trans 'Service' %}</th>
                        <th>{% trans 'Date' %}</th>
                        <th>{% trans 'Was Returned' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'serial_number_info_url' serial_number=object.new_serial_number %}">{{ object.new_serial_number }}</a>
                            </td>
                            <td>
                                <a href="{% url 'serial_number_info_url' serial_number=object.old_serial_number %}">{{ object.old_serial_number }}</a>
                            </td>
                            <td>{{ object.get_model }}</td>
                            <td>{{ object.condition }}</td>
                            <td>{% for refurbishment in object.refurbishment.all %}
                                {% if forloop.last %}
                                    {{ refurbishment }}
                                {% else %}
                                    {{ refurbishment }},
                                {% endif %}{% endfor %}</td>

                            <td>{{ object.created_by.service_center }} {{ object.created_by.get_full_name }}</td>
                            <td>{{ object.create_date | date:"Y/m/d" }}</td>
                            <td>{{ object.get_was_returned }}</td>
                            <td><a href="{{ object.get_update_url }}" target="_blank"><i class="far fa-edit"></i></a>
                                <a href="{{ object.get_absolute_url }}" target="_blank"><i
                                        class="fas fa-info-circle"></i></a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{% static "refurbishment/js/data_table.js" %}"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

{% endblock %}