{% extends "main/base.html" %}
{% load static %}
{% block title %}
    You spare parts order
{% endblock %}
{% block body %}
<div class="container py-4">
    <div class="card">
        <div class="card-header row no-gutters d-flex">
            <a href="#"><i class="fas fa-arrow-circle-left fa-3x"></i></a>
            <h2 class="col-11 text-center">You spare parts order</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8 mb-0">
                {% for supplier, spare_parts in cart.get_items_by_supplier.items %}
                    <h5>Supplier: {{ supplier }}</h5>
                    {% for item in spare_parts %}
                        {% with spare_part=item.spare_part %}
                    <div class="card {% if not forloop.parentloop.last or not  forloop.last %} mb-3 {% endif %}">
                        <div class="row no-gutters">
                            <div class="col-md-4 p-2 align-self-center">
                                <a href="{{ spare_part.get_absolute_url }}">
                                <img src="{% if spare_part.image %}{{ spare_part.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="img-fluid" alt="{{ photo }}">
                                </a>
                            </div>
                            <div class="col-md-5">
                                <div class="card-body p-2">
                                    <h5 class="card-title">{{ spare_part.name }}</h5>
                                    <table class="table table-sm table-borderless">
                                        <tr>
                                            <th scope="row" width="30%">Part No.:</th>
                                            <td>{{ spare_part.sku }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Supplier:</th>
                                            <td>{{ supplier }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Compatible:</th>
                                            <td>{% for device in spare_part.device.all %}{{ device.model_number }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Price:</th>
                                            <td>${{ item.price }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Total:</th>
                                            <td>${{ item.total_price }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-3 p-2">
                                <form class="inline-form" action="{% url 'cart_add' spare_part.id %}" method="post">
                                    <h5>{{ item.update_quantity_form.quantity.label_tag }}</h5>
                                    <input class="form-control mb-3" id="{{ item.update_quantity_form.quantity.auto_id }}" name="{{ item.update_quantity_form.quantity.name }}" type="number" value="{{ item.update_quantity_form.quantity.value }}" size="4" min="1" required />
                                    {{ item.update_quantity_form.update }}
                                    <input class="form-control mb-3" type="submit" value="Update">
                                    {% csrf_token %}
                                </form>
                                <a class="form-control btn btn-danger" href="{% url 'cart_remove' spare_part.id %}">
                                    <i class="fas fa-trash-alt text-light fa-lg"></i> Remove
                                </a>
                            </div>
                        </div>
                    </div>
                        {% endwith %}
                    {% endfor %}
                {% endfor %}
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total:</h5>
                            <h4 class="card-text text-center">
                                ${{ cart.get_total_price }}
                            </h4>
                            <hr />
                            <a href="#" class="btn btn-primary w-100">Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}