{% load static %}
{% if cart %}
{% load i18n %}

<ul class="navbar-nav navbar-custom">
    <li class="dropdown">
        <a href="#" class="nav-link dropdown-toggle text-light text-lg-left" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="fa fa-shopping-cart fa-lg"></i> {% trans 'Spare Parts in Cart' %}
            <span class="badge badge-light">{{ cart|length }}</span>
        </a>
        <ul class="dropdown-menu" width role="menu">
            {% for item in cart %}
            <li class="dropdown-item px-3">
                <img class="mr-2" src="{% if item.spare_part.image %}{{ item.spare_part.image.url }}{% else %}{% static 'no-image.svg' %}{% endif %}" width="40px" alt=""/>
                <span class="text-light text-lg-left mr-5">
                    {{ item.spare_part.name }}
                    <span class="badge badge-light">{{ item.quantity }}</span>
                </span>
                <a href="{% url 'cart_remove'  item.spare_part.id %}"><i class="text-danger fa fa-window-close fa-lg"></i></a>
            </li>
            {% endfor %}
            <li class="dropdown-divider"></li>
            <li class="dropdown-item">
                <a class="nav-link text-center text-light text-lg-left" href="{% url 'cart_detail' %}">
                    <i class="fa fa-cart-arrow-down fa-lg"></i> View Cart
                </a>
            </li>
        </ul>
    </li>
</ul>
{% endif %}