{% load i18n %}
<div>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span
                    class="<i class="fas fa-shopping-cart"></i>"></span> {% trans 'Spare Parts in Cart' %}<span
                    class="caret"></span></a>
            <ul class="dropdown-menu dropdown-cart" role="menu">
                {% for item in cart %}
                    <li>
                  <span class="item">
                    <span class="item-left">
                        <img src="{% if item.image %}{{ item.image.url }}{% endif %}"
                             alt=""/>
                        <span class="item-info">
                            <span>{{ item.spare_part.name }}</span>
                            <span>{{ item.quantity }}</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <a href="{% url 'cart_remove'  item.spare_part.id %}"><button
                                class="btn btn-danger  fa fa-close"></button></a>
                    </span>
                </span>
                    </li>
                {% endfor %}
                <li class="divider"></li>
                <li><a class="text-center" href="{% url 'cart_detail' %}">View Cart</a></li>
            </ul>
        </li>
    </ul>
</div>

<style>
    .bigicon {
        color: white;
    }

    .mix {
        min-height: 370px;
    }

    ul.dropdown-cart {
        min-width: 250px;
        border: 2px solid #343434;
        padding: 2px;
        margin: 7px;
        margin-top: 11px;
    }

    ul.dropdown-cart li .item {
        display: block;
        padding: 3px 10px;
        margin: 3px 0;

    }

    ul.dropdown-cart li .item:hover {
        background-color: #c3c5c5;

    }

    ul.dropdown-cart li .item:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    ul.dropdown-cart li .item-left {
        float: left;
    }

    ul.dropdown-cart li .item-left img,
    ul.dropdown-cart li .item-left span.item-info {
        float: left;
    }

    ul.dropdown-cart li .item-left span.item-info {
        margin-left: 10px;
    }

    ul.dropdown-cart li .item-left span.item-info span {
        display: block;
    }

    ul.dropdown-cart li .item-right {
        float: right;
    }

    ul.dropdown-cart li .item-right button {
        margin-top: 14px;
    }
</style>