{% extends 'main/base.html' %}
{% load i18n %}
{% block title %} {% trans 'Spare parts order' %} # {{ object.id }} {% endblock %}
{% block body %}
    {% load humanize %}
    {% load staticfiles %}
    <h3>Spare parts order # {{ object.id }}</h3>
    <div class="card-body">
        <table>
            <tr>
                <th>{% trans 'Supplier' %}</th>
                <td>{{ object.supplier }}</td>
            </tr>
            <tr>
                <th>{% trans 'Destination' %}</th>
                <td>{{ object.order.destination }}</td>
            </tr>
            <tr>
                <th>{% trans 'Status' %}</th>
                <td>{{ object.get_status_display }}</td>
            </tr>
            <tr>
                <th>{% trans 'Estimated delivery date' %}</th>
                <td>{{ object.estimated_delivery_date | default:'-' }}</td>
            </tr>
            <tr>
                <th>{% trans 'Update date' %}</th>
                <td>{{ object.update_date | default:'-' }}</td>
            </tr>
            <tr>
                <th>{% trans 'Post Service' %}</th>
                <td>{{ object.post_service | default:'-' }}</td>
            </tr>
            <tr>
                <th>{% trans 'Track number' %}</th>
                <td>{{ object.track_number | default:'-' }}</td>
            </tr>
            <th colspan="2">{% trans 'Spareparts:' %}</th>
            <tr>
                <th>{% trans 'SKU' %}</th>
                <th>{% trans 'Quantity' %}</th>
            </tr>
            {% for item in object.order_items.all %}
                <tr>
                    <td>{{ item.spare_part.sku }}</td>
                    <td>{{ item.quantity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}