{% extends 'main/base.html' %}
{% load i18n %}
{% block title %} {% trans 'Spare part' %} # {{ object.name }} {% endblock %}

{% block body %}
    {% load humanize %}
    {% load staticfiles %}


    <link rel="stylesheet" type="text/css" href="{% static 'sparepart/css/sparepart.css' %}"/>

    <div class="container-fluid">
        <div class='container custom'>
            <div class="card custom-bg">
                <h5>
                    <div class="card-header text-center text-light custom-header-bg">
                        {% trans 'Spare part' %} # {{ object.name }}
                    </div>
                </h5>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>{% trans 'Spare part name' %}</th>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Category' %}</th>
                            <td>{{ object.category }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'SKU' %}</th>
                            <td>{{ object.sku }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Weight grams' %}</th>
                            <td>{{ object.weight }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Size, millimeters' %}</th>
                            <td>{{ object.size }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Short description' %}</th>
                            <td>{{ object.description }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Comment' %}</th>
                            <td>{{ object.comment }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Supplier' %}</th>
                            <td>{{ object.supplier }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Manufacturer' %}</th>
                            <td>{{ object.manufacturer }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Devices' %}</th>
                            <td>{% for device in object.device.all %} {{ device.name }}, {% endfor %}</td>
                        </tr>
                    </table>
                    {% if object.image %}
                        <a href="{{ object.image.url }}" target="_blank"><img src="{{ object.image.url }}"
                                                                              class="img-rounded" width="120"></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



{% endblock %}