{% extends 'main/base.html' %}
{% load i18n %}
{% block title %} {% trans 'Spare part list for' %} # {{ device.name }} {% endblock %}

{% block body %}
    {% load humanize %}
    {% load staticfiles %}

    <div class="container py-4">
        <div class="row no-gutters d-flex">
            <a href="{{ device.get_absolute_url }}"><i class="fas fa-arrow-circle-left fa-3x"></i></a>
            <h2 class="col-11 text-center">{{ device.name }} - {% trans 'Spare Parts' %}</h2>
        </div>
        <div class="card">
            <nav class="card-header">
                <div class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                    {% for category in categories %}
                        <a class="nav-link {% if forloop.first %}active{% endif %}" id="nav-home-tab" data-toggle="tab"
                           href="#nav-{{ forloop.counter }}"><b>{{ category }}</b></a>
                    {% endfor %}
                </div>
            </nav>
            <div class="card-body tab-content">
                {% for category, spare_parts_list in categories.items %}
                    <div id="nav-{{ forloop.counter }}"
                         class="tab-pane fade show  {% if forloop.first %}active{% endif %}">
                        <div class="row justify-content-center">
                            {% for spare_part in spare_parts_list %}
                                <div class="card m-2 px-0 col-5">
                                    <div class="row no-gutters">
                                        <div class="col-md-5 p-2 align-self-center">
                                            <img src="{% if spare_part.image %}{{ spare_part.image.url }}{% endif %}"
                                                 class="img-fluid" alt="{{ photo }}">
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card-body p-2">
                                                <h5 class="card-title">{{ spare_part.name }}</h5>
                                                <p class="card-text">
                                                <table class="table table-sm table-borderless">
                                                    <tr>
                                                        <th scope="row" width="30%">Part No.:</th>
                                                        <td>{{ spare_part.sku }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Weight(g):</th>
                                                        <td>{{ spare_part.weight }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Size(mm):</th>
                                                        <td>{{ spare_part.size }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" colspan="2">Description:</th>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">{{ spare_part.description }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <form action="{% url "cart_add" spare_part.id %}"
                                                                  method="post">
                                                                {{ cart_spare_part_form }}
                                                                {% csrf_token %}
                                                                <input type="submit" value="Add to cart">
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </table>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}