{% extends 'technicalguides/base.html' %}
{% block title %} Serial Check PB Service {% endblock %}

{% block body %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/sncheck.css'%}" />

<div class="container-fluid">
	<div class='container custom'>
		<div class="card custom-bg">
			<h5><div class="card-header text-center text-light custom-header-bg">
				<b>Check Serial Number</b>
			</div></h5>
			<div class="card-body">
				<form class="form-sn" action="/check" method="get" target="_parent">
					<div class="form-group row">
						<div class="input-group mb-2 mb-sm-0">
							<div class="input-group-addon"><i class="fa fa-barcode fa-lg" aria-hidden="true"></i> &nbsp; Serial Number: </div>
							<input class="form-control" type="text" name="sn" placeholder="sn" required >
						</div>
					</div>
					<div class="form-group row">
						<button type="submit" class="btn btn-block custom-header-bg text-light" type="submit" value="Submit"><strong>Submit</strong></button>
					</div>
				</form>
			</div>
			<div class="card-footer custom-header-bg"></div>
		</div>
	</div>
</div>
{% endblock %}