body {
        height:100%;
        min-height: 100%;
        background: white url("../back.jpg");
		font-family:'Roboto',sans-serif;
}
a {
    color: #00615b;
}
.navbar-custom {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #00615b;
}
    /* Set white background color, white text and some padding */

}

.dropdown:hover  {
  display: block;
    background-color: #00615b;
    color: #00615b;

}

.dropdown-item:hover{
    background-color: #00998e;
}
.dropdown-menu{
    background-color: #00615b;
}


.container {
	font-size: 0.8rem;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px){
     .sidenav {
     height: auto;
     padding: 15px;  }
     .row.content {height:auto;}
    }

.text-muted {
  color: #263f38;
}