{% extends 'technicalguides/../../../main/templates/main/base.html' %}
{% block title %} Contacts PB Service {% endblock %}


{% block body %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/contacts.css'%}" />

<div class="container" style="width: 65%">
	<p></p>
	<div class="card-deck">
		<div class="card custom-bg">
			<h5><div class="card-header custom-bg-header text-light text-center"><b class="">Useful links:</b></div></h5>
			<div class="card-body">
                {% for link in links %}
				<h5 class="card-title">

					<a target="_blank"-` href="{{ link.url }}"><i class="fa fa-external-link-square fa-lg" aria-hidden="true"></i> {{ link.name }}</a>

				</h5>
                {% endfor %}
			</div>
			<div class="card-footer custom-bg-header">
				<small class="text-muted"></small>
			</div>
		</div>
		<div class="card custom-bg">
			<h5><div class="card-header custom-bg-header text-light text-center"><b>Please, feel free to contact us:</b></div></h5>
			<div class="card-body">
                {% for email in emails %}
				<h5 class="card-title">{{ email.name }}</h5>
				<p class="card-text"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i> <a href="mailto:{{ email.email }}">{{ email.email }} </a> </p>
                {% endfor %}
			</div>
			<div class="card-footer custom-bg-header">
				<small class="text-muted"></small>
			</div>
		</div>
		<div class="card custom-bg">
			<h5><div class="card-header custom-bg-header text-light text-center"><b>Hot line numbers:</b></div></h5>
			<div class="card-body">
                {% for country in countrys %}
                <h5 class="card-title">{{ country.name }}:</h5>
                    {% for phonenumber in country.phonenumber_set.all %}
                    <p class="card-text">
                        <i class="fa fa-phone fa-lg" aria-hidden="true"></i> {{ phonenumber }}
                    </p>
                    {% endfor %}
                {% endfor %}
			</div>
			<div class="card-footer custom-bg-header">
				<small class="text-muted"></small>
			</div>
		</div>
	</div>
</div>

{% endblock %}