{% load i18n %}
<table class="table table-striped card-text">

    <tr>
        {% if is_valid == 'Erorr' %}
            <td colspan="2" class="table-danger text-center text-danger rounded"><h3>Request from validator error</h3>
            <td>
                {{ is_valid }}
                {% elif is_valid == True %}
            <td>{% trans 'SN is valided' %}</td>
            <td>{% trans 'Yes' %}</td>
        {% else %}
            <td>{% trans 'SN is valided' %}</td>
            <td>{% trans 'No' %}</td>
        {% endif %}
    <tr>
        {% if device_info == 'Erorr' %}
            <td colspan="2" class="table-danger text-center text-danger rounded"><h3>Request from shipments erorr</h3>
            </td>
        {% elif device_info == False %}
            <td>No info in shipments</td>
        {% else %}
            {% for data in device_info %}
                <td>{% trans 'Device' %}</td>
                <td>{{ data.device }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Model' %}</td>
                    <td>{{ data.model }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Production Date' %}</td>
                    <td>{{ data.productionDate | date:"m.Y" }} ({{ data.productionDate | timesince }})</td>
                </tr>
                <tr>
                    <td>{% trans 'Shipping Date' %}</td>
                    <td>{{ data.shippingDate | date:"d.m.Y" }} ({{ data.shippingDate | timesince }})</td>
                </tr>
                <tr>
                    <td>{% trans 'Region' %}</td>
                    <td>{{ data.countryEng }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Country' %}</td>
                    <td>{{ data.partnerCountry }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Color' %}</td>
                    <td>{{ data.colorEng }}</td>
                </tr>
                {% if  data.refurbishedBy %}
                    <tr class="table-danger">
                        <td>{% trans 'Warranty term' %}</td>
                        <td>
                            {% if data.warranty %}
                                {{ data.warranty }} {% trans 'months' %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{% trans 'Warranty term' %}</td>
                        <td>
                            {% if data.warranty %}
                                {{ data.warranty }} {% trans 'months' %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% if request.user.is_staff %}
                    <tr>
                        <td>{% trans 'Partner' %}</td>
                        <td>{{ data.partner }}</td>
                    </tr>
                    {% if data.refurbishedBy %}
                        <tr class="table-danger">
                            <td>{% trans 'Manufacturer' %}</td>
                            <td><i class="fas fa-recycle"></i> {{ data.refurbishedBy }} </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{% trans 'Manufacturer' %}</td>
                            <td>{{ data.manufacturer }}</td>
                        </tr>

                    {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    <tr>
        <td valign="baseline" rowspan="0">{% trans 'Documents' %} </td>
    {% if documents %}
        {% for document in documents %}

                <td><a href="{{ document.get_absolute_url }}" target="_blank">{{ document.number }}</a></td>

        {% endfor %}
    {% else %}

            <td>-</td>
        </tr>
    {% endif %}
</table>