
        <p><b>Номер звернення: </b> {{ document.protocol_number }} </p>
        <p><b>Дата звернення: </b> {{ document.received_date | date:"d.m.Y" }}</p>
        <p><b>Модель пристрою: </b> {{ document.model_number }}</p>
        <p><b>Серійний номер: </b> {{ document.serial_number }}</p>
        <p><b>Дата продажу: </b>{% if document.is_presale %} Передпродажний {% else %}
            {{ document.purchase_date | date:"d.m.Y" }} {% endif %}</p>
        <br>

        <b>Заявлені дефекти (за описом Споживача):</b><br>
        {{ document.customers_claim | capfirst}}.
        <br>
        <b>Зовнішній вигляд:</b><br>
        {% if document.visual_defect.all %}
            {% for visual_defect in document.visual_defect.all %}
                {% if forloop.last %}
                    {{ visual_defect | lower }}.
                {% else %}
                    {{ visual_defect |lower }},
                {% endif %}
            {% endfor %}
        {% else %}
            -
        {% endif %}
        <br>
        <b>Комплектність:</b><br>
        {% if document.scope_of_supply.all %}
            {% for item in document.scope_of_supply.all %}
                {% if  forloop.last %}
                {{ item | lower }}.
                {% else %}
                {{ item | lower }},
                {% endif %}
            {% endfor %}
        {% else %}
            -
        {% endif %}
        <br>
        <b>Висновок:</b><br>
        {{ document.conclusion }}
        <br>
