<meta charset="UTF-8">

<div class="document">

    <link rel="stylesheet" type="text/css" href="style.css">

    <div>
        <img class="logo" src="logo-w-bg.svg">
    </div>

    <div class="servicename">
        <b>Авторизированый Сервисный Центр<br>
            Монголы на конях </b><br>
        <link rel="stylesheet" type="text/css" href="http://www.pocketbook-int.com/support/service-centers"
              title="http://www.pocketbook-int.com/support/service-centers">
        <a href="http://www.pocketbook-int.com/support/service-centers">
            http://www.pocketbook-int.com/support/service-centers </a>
    </div>
    <br>
    <div>
        <div class="title">
        <p><b>ЗАКЛЮЧЕНИЕ НА ОТКАЗ В ГАРАНТИЙНОМ ОБСЛУЖИВАНИИ № YTА199ACKZ1376OWM </b></p>
            <br>
        </div>
        <p><b>Номер обращения: </b> 1649 </p>
        <p><b>Дата обращения: </b> 14.09.2018</p>
        <p><b>Модель: </b> 615</p>
        <p><b>Серийный номер: </b> YTA80400029501FPB1X0</p>
        <p> <b>Дата продажи: </b> 24.07.2018</p>
        <p><b>Продавец: </b> МЕЧТА Маркет</p>
        <br>

        <b>Заявленные дефекты (со слов Потребителя):</b><br>
        нет изображения
        <br>
        <b>Внешний осмотр:</b><br>
        Имеются следы эксплуатации
        <br>
        <b>Причина выдачи:</b><br>
        В гарантийном сервисном обслуживании отказано ввиду обнаружения физического/механического повреждения(ий)
        устройства,
        что является нарушением условий гарантии Производителя.
        <br>
        <br>
        <br>
        <b>Дополнительно:</b>
        <ol>
            <li>Выдача настоящего Заключения согласована с Изготовителем.</li>
            <li>Настоящее Заключение с подписями и печатью АСЦ выдается Потребителю или Представителю юридического
                лица.
            </li>
            <li> В настоящем Заключении описаны недостатки на момент его выдачи и не отражены недостатки,
                которые могут возникнуть после получения Заключения Потребителем или Представителем юридического лица.
            </li>
            <li> Дубликат данного Заключения хранится в АСЦ в течение 30-ти дней*.</li>
        </ol>
        <br>
        <br>
        <br>
        <div class="bottom">
        <table>
            <tr>
                <td><b>Юридическое наименование АСЦ:</b></td>
                <td>ТОО «АК Цент Микросистемс»</td>
            </tr>
            <tr>
                <td><b>Инженер АСЦ:</b>></td>
                <td>Турдиев Ф.Д.</td>
                <td>/___________________________</td>
            </tr>
            <tr>
                <td><b>Руководитель АСЦ:</b></td>
                <td>Ковальчук А.</td>
                <td>/___________________________</td>
            </tr>
            <tr>
                <td><b>Дата составления заключения:</b></td>
                <td>19.09.2018</td>
                <td><b>М.П</b></td>
            </tr>
            <tr>
                <td><b>Потребитель/Юридическое лицо:</b></td>
                <td>ТОО "Мечта Маркет"</td>
            </tr>
            <tr>
                <td><b>Подпись Потребителя/Представителя юридического лица:</b></td>
                <td>___________________________</td>
            </tr>
            <tr>
                <td><b>Дата получения заключения:</b></td>
                <td>__________________________</td>
            </tr>

        </table>
        </div>
        Вопросы по данному Заключению можно адресовать на warranty@pocketbook-int.com
        <hr>
        *Претензии по Заключению рассматриваются только в оговоренный период.

    </div>

