<p>Добрый день,</p>

Через сервисный портал<br>

<a href="http://service.pocketbook-int.com/sncheck" target="_blank">http://service.pocketbook-int.com/sncheck</a><br>

Под вашей учетной записью&nbsp;{{ user.get_username }} выполнялась проверка серийного номера устройства:<br>

<strong>{{ device_data.device }} {{ device_data.model }}</strong><br>

<strong>{{ serial_number }}</strong><br>

Данное устройство гарантийному обслуживанию на территории вашего региона&nbsp;{% for group in user.groups.all %} {{ group }} {% endfor %} не подлежит.<br>

Просим предоставить скан копии заполненного гарантийного талона и чека (либо другого документа, подтверждающего покупку) на адрес <a href="mailto:warranty@pocketbook-int.com?subject=Region%20Mismatch%20{{ serial_number }}">warranty@pocketbook-int.com</a>.<br>

В случае необходимости, у своего сервисного координатора, вы можете запросить специальный Акт для выдачи конечному потребителю с разъяснением причин отказа.<br>

<p><em>С уважением, </em></p>

<em><strong>Команда PocketBook</strong></em>
