{% extends 'main/base.html' %}
{% block title %} Serial Number Check {{ block.super }} {% endblock %}

{%  load i18n  %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sncheck.css'%}" />
{% endblock %}

{% block body %}


<div class="container-fluid">
	<div class='container custom'>
		<div class="card custom-bg">
			<h5><div class="card-header text-center text-light custom-header-bg">
				<b>{% trans 'Serial Check' %}</b>
			</div></h5>
			<div class="card-body">
				<form class="form-sn" action="/sncheck" method="POST" target="_parent">
                    {% csrf_token %}
                    <div class="form-group row">
						<div class="input-group mb-2 mb-sm-0">
							<div class="input-group-addon"><i class="fa fa-barcode fa-lg" aria-hidden="true"></i> &nbsp; Serial Number: </div>
							<input class="form-control" type="text" name="sn" placeholder="sn" required value={{ serial_number }}  >
						</div>
					</div>
					<div class="form-group row">
						<button type="submit" class="btn btn-block custom-header-bg text-light" type="submit" value="Submit"><strong>Submit</strong></button>
					</div>
                </form>
			<hr>
            {% if serial_number %}
                {% include 'sncheck/includes/serial_number_info_table.html' %}
            {% endif %}
			</div>
			<div class="card-footer custom-header-bg"></div>
		</div>
	</div>
</div>
{% endblock %}