{% extends 'technicalguides/../../../main/templates/main/base.html' %}
{% block title %} Serial Check PB Service {% endblock %}


{% block body %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/sncheck.css'%}" />

<div class="container-fluid">
	<div class='container custom'>
		<div class="card custom-bg">
			<h5><div class="card-header text-center text-light custom-header-bg">
				<b>Check Serial Number</b>
			</div></h5>
			<div class="card-body">
				<form class="form-sn" action="/sncheck" method="POST" target="_parent">
                    {% csrf_token %}
					<div class="form-group row">
						<div class="input-group mb-2 mb-sm-0">
							<div class="input-group-addon"><i class="fa fa-barcode fa-lg" aria-hidden="true"></i> &nbsp; Serial Number: </div>
							<input class="form-control" type="text" name="sn" placeholder="sn" required value={{ serial_number }}  >
						</div>
					</div>
					<div class="form-group row">
						<button type="submit" class="btn btn-block custom-header-bg text-light" type="submit" value="Submit"><strong>Submit</strong></button>
					</div>
				</form>
			<hr />
            {% if serial_number %}
		<table class="table table-striped card-text">
			 <tbody>
				</tr>
				<tr>
					{% if is_valid == 'Erorr' %}
						<td colspan="2" class="table-danger text-center text-danger rounded"><h3>Request from validator erorr</h3><td>
					{% elif is_valid == True %}
						<td>SN is valided</td>  <td>Yes</td>
					{% else %}
						<td>SN is valided</td> <td>No</td>
					{% endif %}
					<tr>
					{% if device_info == 'Erorr' %}
						<td colspan="2" class="table-danger text-center text-danger rounded"><h3>Request from shipments erorr</h3></td>
					{% elif device_info == False %}
						<td>No info in shipments</td>
					{% else %}
						{% for data in device_info %}
							<td>Device</td> <td>{{ data.device }}</td>
						</tr>
                         <tr>
                            <td>Model</td> <td>{{ data.model }}</td>
						</tr>
						<tr>
							<td>Production Date</td> <td>{{ data.month }}.{{ data.year }}</td>
						</tr>
                         <tr>
							<td>Shipping Date</td> <td>{{ data.shippingDate | date:"d.m.Y" }}</td>
						</tr>
						<tr>
							<td>Region</td> <td>{{ data.countryEng }}</td>
						</tr>
                            <td>Country</td> <td>{{ data.partnerCountry }}</td>
						</tr>
						<tr>
							<td>Color</td> <td>{{ data.colorEng }}</td>
						</tr>
                            {% load auth_extras %}
                            {% if request.user.is_superuser or request.user|has_group:"moderator" %}
                         <tr>
                            <td>Manufacturer</td> <td>{{ data.manufacturer }}</td>
                         </tr>
                            {% endif %}



						{% endfor %}
					{% endif %}
				</tr>
			</tbody>
		</table>
            {% endif %}
			</div>
			<div class="card-footer custom-header-bg"></div>
		</div>
	</div>
</div>
{% endblock %}