<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111876533-1"></script>
    <script src="{% static "js/googleanalytics.js" %}"></script>

    <title>{% block title %}Pocketbook Service Portal {% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="shortcut icon" href={% static 'ico/favicon.ico' %} type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700&amp;subset=cyrillic-ext,latin-ext">

    {% block head %}
    {% endblock %}

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-custom">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-light text-lg-left" href="{% url "index" %}"><i class="fa fa-home fa-lg"
                                                                    aria-hidden="true"></i> {% trans "Home" %}
                &nbsp;</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-light text-lg-left dropdown-toggle" data-toggle="dropdown" href="#"
               role="button"
               aria-haspopup="true" aria-expanded="false"><i class="fa fa-tablet-alt fa-lg"
                                                             aria-hidden="true"></i> {% trans 'Devices' %}</a>
            <div class="dropdown-menu">
                {% for device in new_devices %}
                    <a class="dropdown-content dropdown-item text-light text-lg-left"
                       href="{{ device.get_absolute_url }}"><i class="fa fa-tablet-alt fa-lg"
                                                               aria-hidden="true"></i> {{ device.name }}
                    </a>
                {% endfor %}
            </div>
        </li>
        {% if request.user.is_staff %}
            <li class="nav-item dropdown">
                <a class="nav-link text-light text-lg-left dropdown-toggle" data-toggle="dropdown" href="#"
                   role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-clipboard-check fa-lg"></i>
                    {% trans "Serial Check" %}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item text-light text-lg-left" href="{% url "sncheck" %}"><i class="fa fa-check"
                                                                                        aria-hidden="true"></i> Check SN</a>
                    <a class="dropdown-item text-light text-lg-left" href="{% url "snchecklist" %}"><i class="fa  fa-list-ul "
                                                                                            aria-hidden="true"></i>
                        Check List of SN</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link text-light text-lg-left" href="{% url "sncheck" %}"><i class="fa fa-check-square-o fa-lg"
                                                                               aria-hidden="true"></i> {% trans "Serial Check" %}
                    &nbsp;</a>
            </li>
        {% endif %}
        {% if request.user.service_center or request.user.is_staff %}
            <li>
                <a class="nav-link text-light text-lg-left" href="{% url 'document_list_url' %}"><i
                        class="fas fa-file-alt fa-lg"></i> {% trans "Documents" %}
                    <span>{% if documents_in_process and request.user.is_staff %}({{ documents_in_process }}
                        ) {% endif %}</span>
                    &nbsp;</a>
            </li>
        {% endif %}

        <li class="nav-item dropdown">
            <a class="nav-link text-light text-lg-left dropdown-toggle" data-toggle="dropdown" href="#"
               role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-chart-pie fa-lg"></i>
                {% trans "Issues" %}
            </a>
            <div class="dropdown-menu">
                {% if request.user.is_staff %}

                    <a class="dropdown-item text-light text-lg-left"
                       href="{% url 'battery_issue_list_url' %}">
                        <i class="fas fa-list-ul"></i>
                        {% trans 'Battery Issue List' %}</a>

                    <a class="dropdown-item text-light text-lg-left"
                       href="{% url 'battery_issue_create_url' %}">
                        <i class="fa fa-battery-empty"></i>
                        {% trans 'Add Battery Issue' %}</a>

                    <a class="dropdown-item text-light text-lg-left"
                       href="{% url 'display_line_issue_list_url' %}">
                        <i class="fas fa-list-ul"></i>
                        {% trans 'Display Line Issues List' %}</a>

                    <a class="dropdown-item text-light text-lg-left"
                       href="{% url 'display_line_issue_create_url' %}">
                        <i class="fas fa-microchip"></i>
                        {% trans 'Add Display Line Issue' %}</a>

                      <a class="dropdown-item text-light text-lg-left"
                       href="{% url 'clock_issue_create_url' %}">
                        <i class="fas fa-clock"></i>
                        {% trans 'Add Clock Issue' %}</a>

                    <a class="dropdown-item text-light text-lg-left"
                       href="{% url 'clock_issue_list_url' %}">
                       <i class="fas fa-list-ul"></i>
                        {% trans 'Clock Issue List' %}</a>
                    </div>

                {% else %}
                    <a class="dropdown-item text-light text-lg-left"
                       href="{% url 'battery_issue_create_url' %}">
                        <i class="fa fa-battery-empty"></i>
                        {% trans 'Add Battery Issue' %}</a>


                    <a class="dropdown-item text-light text-lg-left"
                       href="{% url 'display_line_issue_create_url' %}">
                        <i class="fas fa-microchip"></i>
                        {% trans 'Add Display Line Issue' %}</a>

                            <a class="dropdown-item text-light text-lg-left"
                       href="{% url 'clock_issue_create_url' %}">
                       <i class="fas fa-clock"></i>
                        {% trans 'Add Clock Issue' %}</a>


                {% endif %}
            </div>
        </li>
        {% if perms.refurbishment.view_refurbishment_device_list %}
            <li class="nav-item">
                <a class="nav-link text-light text-lg-left"
                   href="{% url 'refurbishment_device_list_url' %}"><i
                        class="fa fa-recycle"></i> {% trans 'Refurbishment' %}
                    &nbsp;</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link text-light text-lg-left" href="{% url "contacts" %}"><i class="fa fa-address-book fa-lg"
                                                                            aria-hidden="true"></i> {% trans "Contacts" %}
                &nbsp;</a>
        </li>

        {% if request.user.is_staff %}
            <li class="nav-item">
                <a class="nav-link text-light text-lg-left" href="{% url "admin" %}"><i class="fa fa-cogs fa-lg"
                                                                              aria-hidden="true"></i> {% trans "Admin Section" %}
                    &nbsp;</a>
            </li>
        {% endif %}
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item" id="welcomelogin">
            {% trans "Wellcome" as wellcome %}
            {% trans " Log-out" as logout %}
            {% trans " Log-in" as login %}

            {% if user.is_authenticated %}
                <a class="nav-link text-light text-lg-left" href="#">
					<span>
						<i class="fa fa-user-circle-o fa-lg"
                           aria-hidden="true"> </i> {{ wellcome }}, {{ user.get_username }} &nbsp;
					</span>
                </a>
                </li>
                <li class="nav-item" id="logout">
                <a class="nav-link text-light text-lg-left" href="{% url "logout" %}">
					<span>
						<i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> {{ logout }}
					</span>
                </a>
            {% elif user.is_anonymous %}
                <a class="nav-link text-light text-lg-left" href="{% url 'login' %}?next={{ request.path }}">
					<span> 
						<i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> {{ login }}
					</span>
                </a>
            {% endif %}
            </li>
    </ul>
</nav>

{% block body %}

{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}
</body>
</html>