{% extends 'main/base.html' %}

{% load i18n %}
{% load humanize %}

{% block title %} {{ block.super }} {% endblock %}

{% block head %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}"/>
{% endblock %}


{% block body %}

    <div class="container-fluid">
        <div class='container custom'>
            <h2>{% trans "News"%}:</h2>
            <div class='container custom'>
                {% if request.user.is_staff %}



                    {% for item in news %}
                        <div class="{{ item.type | safe }}" role="alert">
                            <h4>{{ item.title }}</h4>
                            {{ item.text | safe }}
                        </div>
                    {% endfor %}
                    </div>

                {% else %}


                    {% for item in group_news %}
                        <div class="{{ item.type | safe }}" role="alert">
                        <h4>{{ item.title }}</h4>
                        {{ item.text | safe }}

                    {% endfor %}
                {% endif %}
                </div>

            <div class='container custom'>
                <h2>{% trans "Last updates"%}:</h2>

                {% if request.user.is_staff %}
                    <div class="card-deck">
                        {% for guide in guides|slice:"4" %}
                            <div class="card">
                                <a class="newslink"
                                   href="{% url 'guide' device_name=guide.device.name title=guide.title %}">
                                    <h4 class="card-title">
                                        <div class="card-header">
                                            {{ guide.title }}
                                        </div>
                                    </h4>
                                    <img class="card-img-top" width='362' src="{{ guide.device.img.url }}"
                                         alt="Card image cap">
                                    <div class="card-footer">
                                        <small class="text-muted">{{ guide.updated_date | naturaltime }}</small>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="card-deck">
                    {% for guide in   groups_guides|slice:"4" %}
                        <div class="card">
                            <a class="newslink"
                               href="{% url 'guide' device_name=guide.device.name title=guide.title %}">
                                <h4 class="card-title">
                                    <div class="card-header">
                                        {{ guide.title }}
                                    </div>
                                </h4>
                                <img class="card-img-top" width='362' src="{{ guide.device.img.url }}"
                                     alt="Card image cap">
                                <div class="card-footer">
                                    <small class="text-muted">{{ guide.updated_date | naturaltime }}</small>
                                </div>
                            </a>

                        </div>
                    {% endfor %}
                {% endif %}

                </div>
            </div>

{% endblock %}