<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{ act.get_number }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/pdf.css' %}">

</head>
<body>
<div class="document">


    <div>
        <img class="logo" src="/static/img/logo-w-bg.png">
    </div>

    <div class="servicename">
        <b>AUTHORIZED SERVICE CENTER (ASC)<br>
            {{ act.created_by.service_center.company_name }} </b><br>
        <link rel="stylesheet" type="text/css" href="http://www.pocketbook-int.com/support/service-centers"
              title="http://www.pocketbook-int.com/support/service-centers">
        <a href="http://www.pocketbook-int.com/support/service-centers">
            http://www.pocketbook-int.com/support/service-centers </a>
    </div>
    <br>
    <div>
        <div class="title">

            <p><b> STATEMENT OF  MANUFACTURER DEFECT ACCEPTENCE {{ act.get_number }} </b></p>
            <br>
        </div>
        <p><b>Number of claim protocol: </b> {{ act.protocol_number }} </p>
        <p><b>Date of claim protocol: </b> {{ act.received_date | date:"d.m.Y" }}</p>
        <p><b>Model: </b> {{ act.get_model }}</p>
        <p><b>Serial number: </b> {{ act.serial_number }}</p>
        <p><b>Date of device purchase: </b> {{ act.purchase_date | date:"d.m.Y" }}</p>
        <br>

        <b>Customer's claim:</b><br>
        {{ act.customers_claim }}
        <br>
        <b>Visual inspection:</b><br>
        {{ act.visual_defect }}
        <br>
        <b>Conclusion: :</b><br>
        {{ act.conclusion }}
        <br>
        <br>
        <br>
        <b>Additional information:</b>
        <ol>
            <li>The Conclusion was obtained and agreed with the Manufacturer.</li>
            <li>The Conclusion is signed by the authorized person of ASC and issued to a Customer or Representative of
                the legal entity.
            </li>
            <li>The defective Product and all accessories should be accepted under bailment of ASC.</li>
            <li>The Conclusion describes defects at the moment of signing and does not reflect deficiencies that could
                appear after obtaining the opinion of the Customer or Representative of the legal entity.
            </li>
            <li>The Customer should contact Reseller and hand over the original Conclusion.</li>
            <li>The Reseller should contact Distributor on the same matter.</li>
            <li>The Distributor should contact Manufacturer in order to get refund.</li>
            <li>ASC should contact Manufacturer on the matter of the return of Product.</li>
            <li>A duplicate of the Conclusion is stored in the service center for 90 days.*</li>
        </ol>
        <br>
        <br>
        <br>
        <div class="bottom">
            <table>
                <tr>
                    <td><b>Authorized Service Center (ASC):</b></td>
                    <td>{{ act.created_by.service_center.company_name }}</td>
                </tr>
                <td><b>Date of Conclusion:</b></td>
                <td>{{ act.conclusion_date | date:"d.m.Y" }}</td>
                </tr>
                <tr>
                    <td><b>Client or the name of the legal entity:</b></td>
                    <td>{{ act.client_name }}</td>
                </tr>
                <tr>
                    <td><b>Signature of Client or Representative of the legal entity:</b></td>
                    <td>___________________________</td>
                </tr>
                <tr>
                    <td><b>Date of obtaining the Conclusion:</b></td>
                    <td>__________________________</td>
                </tr>

            </table>
        </div>
        For any questions regarding this Conclusion please contact us via e-mail: warranty@pocketbook-int.com
        <hr>
        *The Conclusion is accepted for consideration by the Manufacturer within 90 days from the date of obtaining.

    </div>


</body>
</html>
