{% include 'documents/pdf/includes/uk/head.html' %}
{% load i18n %}
{% language 'uk' %}

    <body>
    <div class="document">
    {% include 'documents/pdf/includes/uk/title.html' %}
    <br>
    <div>
    <div class="title">
        <p><b> Акт <br>списання пристрою<br> {{ document.number }} </b></p>
        <br>
    </div>
    {% include 'documents/pdf/includes/uk/info.html' %}
    <b>Додатково:</b>
    <ol>
        <li>Видача цього Акта погоджена з виробником пристрою.</li>
        <li>Цей Акт з підписами і печатками видається споживачу або іншій особі, яка звертається до АСЦ (заявнику
            або його представнику).
        </li>
        <li>Пристрій та всі комплектуючі залишаються на відповідальному зберіганні у АСЦ.</li>
        <li>Споживач має зв’язатися з продавцем, в якого придбано пристрій, для отримання відповідного рішення за
            цим Актом.
        </li>
        <li>Продавець має зв’язатися з дистриб’ютором для отримання відповідного рішення за цим Актом.</li>
        <li>Дистриб’ютор має зв’язатися з виробником для отримання відповідного рішення за цим Актом.</li>
        <li>АСЦ має зв’язатися з виробником з приводу повернення списаного пристрою.</li>
        <li>Дублікат цього Акта зберігається в АСЦ протягом 90-та днів*.</li>
    </ol>
    <br>
    {% include 'documents/pdf/includes/uk/bottom.html' %}

{% endlanguage %}
</div>
</div>
</body>
</html>