{% include 'documents/pdf/includes/uk/head.html' %}
{% load i18n %}
{% language 'uk' %}
    <body>
    <div class="document">
    {% include 'documents/pdf/includes/uk/title.html' %}
    <br>
    <div>
        <div class="title">
            <p><b> Висновок<br>
                технічної перевірки пристрою<br> {{ document.number }} </b></p>
            <br>
        </div>
        {% include 'documents/pdf/includes/uk/info.html' %}
        <b>Додатково:</b>
        <ol>
            <li>Видача цього Висновку погоджена з виробником пристрою.</li>
            <li>Цей Висновок з підписами і печатками видається споживачу або іншій особі, яка звертається до АСЦ
                (заявнику або його представнику).
            </li>
            <li>В цьому Висновку описані дефекти та недоліки пристрою (або їх відсутність) на момент його видачі, та не
                вказані дефекти або недоліки, які можуть виникнути після отримання цього Висновку споживачем або
                заявником (представником) та передачі пристрою.
            </li>
            <li>Дублікат цього Висновку зберігається в АСЦ протягом 30-ти днів*.</li>
        </ol>
        <br>
        {% include 'documents/pdf/includes/uk/bottom.html' %}
    </div>
{% endlanguage %}
</div>
</div>
</body>
</html>
