{% include 'documents/pdf/includes/uk/head.html' %}
{% load i18n %}
{% language 'uk' %}
    <body>
    <div class="document">
    {% include 'documents/pdf/includes/uk/title.html' %}
    <br>
    <div>
    <div class="title">
        <p><b> Висновок<br> про відмову в наданні гарантійного обслуговування<br> {{ document.number }} </b></p>
        <br>
    </div>
    {% include 'documents/pdf/includes/uk/info.html' %}
    <b>Додатково:</b>
    <ol>
        <li>Видача цього Висновку погоджена з виробником пристрою</li>
        <li>Споживач має право отримати обслуговування на негарантійній (платній) основі.</li>
        <li>Додаткову інформацію щодо гарантійних зобов’язань виробника можна на сайті виробника:
            https://pocketbook.com.ua/uk-ua/warranty-terms-ua.
        </li>
        <li>Цей Висновок з підписами і печатками видається споживачу або іншій особі, яка звертається до АСЦ
            (заявнику або його представнику).
        </li>
        <li>В цьому Висновку описані дефекти та недоліки пристрою на момент його видачі та не вказані дефекти або
            недоліки, які можуть виникнути після отримання цього Висновку споживачем або заявником (представником).
        </li>
        <li>Дублікат цього Висновку зберігається в АСЦ протягом 30-ти днів*.</li>
    </ol>
    <br>
    {% include 'documents/pdf/includes/uk/bottom.html' %}


{% endlanguage %}
</body>
</html>