{% extends 'main/base.html' %}
{% load i18n %}
{% block title %} {% trans 'Document' %} # {{ act.get_number }} {% endblock %}

{% block body %}
    {% load humanize %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/documents.css' %}"/>

    <div class="container-fluid">
        <div class='container custom'>
            <div class="card custom-bg">
                <h5>
                    <div class="card-header text-center text-light custom-header-bg">
                        {% trans 'Document' %} # {{ act.get_number }}
                    </div>
                </h5>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>{% trans 'Document type' %}</th>
                            {% if act.document_type == 'warranty_rejection' %}
                                    <td>{% trans 'Statement of manufacturer warranty rejection' %}</td>
                                {% elif act.document_type == 'technical_inspection' %}
                                    <td>{% trans 'Statement of manufacturer technical inspection' %}</td>
                                {% elif act.document_type == 'defect_acceptance' %}
                                    <td>{% trans 'Statement of  manufacturer defect acceptance' %}</td>
                                {% endif %}
                        </tr>

                        <tr>
                            <th>{% trans 'Status' %}</th>
                            {% if act.status == 'in_process' %}
                                <td>{% trans 'In Process' %}<i class="fa fa-refresh fa-spin fa-fw"></i></td>
                            {% elif act.status == 'confirmed' %}
                                <td><a href="/documents/pdf/{{ act.id }}"
                                       style="display:block;">&nbsp;{% trans 'Confirmed' %} <i
                                        class="fa fa-download"></i></a> {{ act.conclusion_date | date:'d.m.Y' }} ({{ act.conclusion_date | timesince}}) </td>
                            {% elif act.status == 'rejected' %}
                                <td>{% trans 'Rejected' %} <i class="fa fa-times" aria-hidden="true"></i> {{ act.conclusion_date | date:'d.m.Y' }} ({{ act.conclusion_date | timesince}})</td>
                            {% endif %}
                        </tr>
                        <th>{% trans 'Device' %}</th> <td>{{ act.get_model }}</td>
                        <tr>
                            <th>{% trans 'Serial Number' %}</th>
                            <td>{{ act.serial_number }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Service' %}</th>
                            <td>{{ act.created_by.service_center }}, {{ act.created_by.service_center.city }}, {{ act.created_by.get_full_name }}</td>
                        </tr>
                        {% if request.user.is_staff %}
                        {% endif %}
                        <tr>
                            <th>{% trans 'Fill Date' %}</th><td>{{ act.filling_date | date:'d.m.Y' }} ({{ act.filling_date | timesince }})</td>
                        </tr>

                        <tr>
                            <th>{% trans 'Purchase Date' %}</th>
                            {% if not act.is_presale %}
                            <td>{{ act.purchase_date | date:'d.m.Y' }} ({{ act.purchase_date | timesince }})</td>
                            {% else %}
                            <td>{% trans 'Presale' %}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>{% trans 'Received Date' %}</th>
                            <td>{{ act.received_date | date:'d.m.Y' }} ({{ act.received_date | timesince }})</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Customer Claim' %}</th>
                            <td>{{ act.customers_claim }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Identified Malfunction' %}</th>
                            <td>{{ act.identified_malfunction }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Comments' %}</th>
                            <td>{{ act.comment_of_engineer }}</td>
                        </tr>
                        {% if act.comment_of_manager and not request.user.is_staff %}
                            <tr>
                                <th>{% trans 'Comments of Pocketbook' %}</th>
                                <td>{{ act.comment_of_manager }}</td>
                            </tr>
                        {% endif %}

                    </table>

                    {% if act.warranty_card_photo %}
                        <img src="{{ act.warranty_card_photo.url }}" class="img-rounded" width="120">
                    {% endif %}
                    {% if act.receipt_photo %}
                        <img src="{{ act.receipt_photo.url }}" class="img-rounded" width="120">
                    {% endif %}
                    {% if act.screen_photo %}
                        <img src="{{ act.screen_photo.url }}" class="img-rounded" width="120">
                    {% endif %}
                    {% if  act.screen_photo %}
                        <img src="{{ act.defect_photo.url }}" class="img-rounded" width="120">
                    {% endif %}

                    {% if request.user.is_staff %}
                        <br>
                        <hr>
                        <form method="POST" class="post-form" action='/documents/act/{{ act.id }}'>
                            {% csrf_token %}
                            <h6>{% trans 'Comment' %}:</h6>
                            {{ form.comment_of_manager }}<br>
                            <hr>
                            <div class="btn-group">
                                <button name="accept" type="submit" class="btn btn-success value=" accept
                                ">Accept</button>
                                <button name="reject" type="submit" class="btn btn-danger" value="reject">Reject
                                </button>
                            </div>
                        </form>
                    {% endif %}

{% endblock %}
