<table border="1">
    Id = {{ act.id }}<br>
    Status = {{ act.status }}

    <tr>
         <th>Service</th><Type><th>Status</th><th>Serial Number</th><th>Purchase Date</th><th>Received Date</th><th>Presale</th><th>Customers Claim</th><th>Identified Malfunction</th>
    </tr>
    <tr>
        <td>{{ act.created_by.service_center }}</td><td>{{ act.status }}</td><td>{{ act.serial_number }}</td><td>{{ act.purchase_date }}</td><td>{{ act.received_date }}</td>
        <td>{{ act.is_presale }}</td><td>{{ act.customers_claim }}</td><td>{{ act.identified_malfunction }}</td>
    </tr>
</table>



{% if request.user.is_staff %}
    <form method="POST" class="post-form" action='/documents/act/{{ act.id }}'>
        {% csrf_token %}

         <button name="accept" type="submit" value="accept">Accept</button>
        <button name="reject" type="submit" value="reject">Reject</button>
    </form>
{% endif %}