{% extends 'main/base.html' %}
{% load i18n %}
{% block title %} {% trans "Documents" %} {% endblock %}

{% block body %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/documents.css' %}"/>

    <div class="container-fluid">
        <div class='container custom'>
            <div class="card custom-bg">
                <h5>
                    <div class="card-header text-center text-light custom-header-bg">
                        {% trans 'All Your Documents' %}
                    </div>
                </h5>
                <div class="card-body">

                    <table class="table table-striped card-text">
                        <tr>
                            {% if request.user.is_staff %}
                                <th>{% trans 'Service' %}</th>
                            {% endif %}
                            <th>{% trans 'Device' %}</th>
                            <th>{% trans 'Serial Number' %}</th>
                            <th>{% trans 'Type' %}</th>

                            <th>{% trans 'Purchase Date' %}</th>
                            <th>{% trans 'Received Date' %}</th>
                            <th>{% trans 'Status' %}</th>
                            <th>{% trans 'Detail' %}</th>
                        </tr>
                        {% for act in acts %}
                            <tr>
                                {% if request.user.is_staff %}
                                    <td>{{ act.created_by.service_center }}</td>
                                {% endif %}

                                <td>{{ act.get_model }}</td>
                                <td>{{ act.serial_number }}</td>
                                {% if act.document_type == 'warranty_rejection' %}
                                    <td>{% trans 'Warranty rejection' %}</td>
                                {% elif act.document_type == 'technical_inspection' %}
                                    <td>{% trans 'Technical inspection' %}</td>
                                {% elif act.document_type == 'defect_acceptance' %}
                                    <td>{% trans 'Defect acceptance' %}</td>
                                {% endif %}
                                <td>{{ act.purchase_date }}</td>
                                <td>{{ act.received_date }}</td>

                                {% if act.status == 'in_process' %}
                                    <td>{% trans 'In Process' %}<i class="fa fa-refresh fa-spin fa-fw"></i></td>
                                {% elif act.status == 'confirmed' %}
                                    <td><a href="/documents/pdf/{{ act.id }}"
                                           style="display:block;">&nbsp;{% trans 'Confirmed' %} <i
                                            class="fa fa-download"></i></a></td>
                                {% elif act.status == 'rejected' %}
                                    <td>{% trans 'Rejected' %} <i class="fa fa-times" aria-hidden="true"></i></td>
                                {% endif %}
                                <td><a href="/documents/act/{{ act.id }}"><i class="fa fa-info"></i></a></td>

                            </tr>
                        {% endfor %}
                    </table>
                    <div class="form-group row">
                        <a class="btn btn-block custom-header-bg text-light" href="/documents/request">
                            <strong>{% trans 'Request Document Form' %}</strong></a>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}