#log{
    width:50%;
    height:400px;
    margin-top: 150px;
    text-align: center;
    background: rgba(0,153,51);
    color: white;
    border-radius: 15px;
    }

#log img {
    width:120px;
    height:30px;
    margin-top: -60px;
    margin-bottom: 30px;
}

#log input[type="text"],input[type="password"],input[type="submit"] {
    width: 240px;
    height:44px;
    margin-bottom: 20px;
    font-size: 20px;
    border: 1px solid #000;
}