{% extends 'main/base.html' %}
{% block title %} {{ device.name }} {% endblock %}

{% block body %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/device.css'%}" />

<div class="container">
    <h2 class="text-center">{{ device.name }}</h2>
    <div class="row">
        <div class="col-sm-4"style="text-align: left">
           <ul class='list-group rounded'>
               {% for guide in guides %}
            <li class='list-group-item'>
                   {% for gr in guide.group.all %} [{{ gr }}] {% endfor %}
                        <a class='text-light' href="{% url 'guide' device_name=device.name title=guide.title  %}">{{ guide.title }}</a>
            </li>
            {% endfor %}
			</ul>
        </div>
		<div class="col-sm-2" style="text-align: center">
		</div>
        <div class="col-sm-6" style="text-align: center">
             <img class="img-fluid" src= "{{ device.img.url }}" alt="Device Image"> <!-- link to device image -->
        </div>
    </div>
</div>

{% endblock %}