{% extends 'technicalguides/base.html' %}#}

{% block body %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/guide.css'%}" />
	<div class='container-fluid'>
		<div class='container custom-bg'>
			<div class="custom-header-bg">
				<h3 class='text-center text-light'>{{ guide.title }}</h3>
				<h2 class='text-center text-light'>{{ device_name }}</h2>
			</div>
			<div class='container'>
				{{ guide.text | safe}}
				<a href='http://link.com/file.7z'>link</a>
				<a href='http://link.com/file.rar'>link</a>
				<a href='http://link.com/file.zip'>link</a>
			</div>
			<script>
				$(".container a[href*='ftp'], [href*='zip'], [href*='7z'], [href*='rar']").prepend("<i class=\"fa fa-download\" aria-hidden=\"true\">&nbsp;");
				$(".container a[href*='ftp'], [href*='zip'], [href*='7z'], [href*='rar']").append("</i>");
				$(".container a[href*='http']:not([href*='zip'], [href*='7z'], [href*='rar'], :has(img))").prepend("<i class =\"fa fa-external-link-square\" aria-hidden=\"true\">&nbsp;");
				$(".container a[href*='http']:not([href*='zip'], [href*='7z'], [href*='rar'], :has(img))").append("</i>");
			</script>
		</div>
	</div>
{% endblock %}
