{% extends 'technicalguides/../../../main/templates/main/base.html' %}#}
{% block title %} {{ device_name }}|{{ guide.title }} {% endblock %}
{% block body %}
    {% load staticfiles %}
	<script src="{% static '../static/js/guide.js'%}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/guide.css'%}" />
	<div class='container-fluid'>
		<div class='container custom-bg'>
			<div class="custom-header-bg">
				<h3 class='text-center text-light'>{{ guide.title }}</h3>
				<h2 class='text-center text-light'>{{ device_name }}</h2>
			</div>
			<div class='container box'>
				{{ guide.text | safe}}
			</div>
		</div>
	</div>
{% endblock %}
