{% extends 'main/base.html' %}
{% load i18n %}
{% block title %} {{ device.name }} {% endblock %}

{% block body %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'device/css/device.css' %}"/>

    <div class="container">
        <h2 class="text-center">{{ device.name }}</h2>
        <div class="row">
            <div class="col-sm-4" style="text-align: left">
            {% if guides %}
                <h5> {% trans 'Guides' %}</h5>
                <ul class='list-group rounded'>
                    {% for guide in guides %}
                        <li class='list-group-item'>
                            <a class='text-light'
                               href="{{ guide.get_absolute_url }}">{{ guide.title }}
                            {% if request.user.is_staff %}{% for gr in guide.group.all %} [{{ gr }}]
                            {% endfor %} {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
                </br>
                <h5> {% trans 'Documents' %}</h5>
                <ul class='list-group rounded'>
                    <li class='list-group-item'>
                        <a class='text-light' href="{% url 'spare_part_device_list_url' pk=device.pk %}">Button for spare parts list</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2" style="text-align: center">
            </div>
            <div class="col-sm-6" style="text-align: center">
                <img class="img-fluid" src="{{ device.image.url }}" alt="Device Image"> <!-- link to device image -->
            </div>
        </div>
    </div>

{% endblock %}